# Arize Setup

In [1]:
!pip install -qe '..'
!pip freeze | grep arize

-e git+ssh://git@github.com/Arize-ai/arize.git@7a29c515e7e379a04af2becc5b7f652a4cfbb286#egg=arize&subdirectory=sdk/python/loggerv8

In [2]:
SPACE_ID = "U3BhY2U6MzU1OldBSEc="  # DEV KIKO SPACE
SPACE_ID = "U3BhY2U6MTpiRnVM"

In [3]:
import os

os.environ["ARIZE_LOG_ENABLE"] = "true"
os.environ["ARIZE_LOG_LEVEL"] = "debug"
os.environ["ARIZE_LOG_STRUCTURED"] = "false"

In [4]:
from arize import ArizeClient

client = ArizeClient() # API key from env var

print(client)

ArizeClient(
  sdk_config=SDKConfiguration(
    api_key='ak-3f3***',
    api_host='api.arize.com',
    api_scheme='https',
    otlp_host='otlp.arize.com',
    otlp_scheme='https',
    flight_host='flight.arize.com',
    flight_port=443,
    flight_scheme='grpc+tls',
    pyarrow_max_chunksize=10000,
    request_verify=True,
    stream_max_workers=8,
    stream_max_queue_bound=5000,
    max_http_payload_size_mb=100.0,
    arize_directory='~/.arize',
    enable_caching=True,
    region=<Region.UNSPECIFIED: ''>,
    single_host='',
    single_port=0,
  )
  subclients={
    'datasets': lazy,
    'experiments': lazy,
    'projects': lazy,
    'ml': lazy,
    'spans': lazy,
  }
)

# List Datasets

## List all datasets the user has access to

In [5]:
ds_list_resp = client.datasets.list()

  arize._lazy | DEBUG | Lazily loading subclient 'datasets'
  arize.pre_releases | WARNING | [BETA] datasets.list is a beta API in Arize SDK v8.0.0b0 and may change without notice.

## Limit the number of datasets returned

In [6]:
ds_list_resp = client.datasets.list(limit=10)

## List datasets the user has access to within a space

In [7]:
ds_list_resp = client.datasets.list(space_id=SPACE_ID)

## Access the datasets in the response

In [8]:
# ds_list_resp.datasets

### Format to dictionary

In [9]:
# ds_list_resp.to_dict()

### Format to dataframe (our own extension)

In [10]:
ds_list_resp.to_df()

,id,name,space_id,created_at,updated_at,versions
0,RGF0YXNldDozMjkxNDc6OTk3Yw==,kiko-test-dataset_20260122112548,U3BhY2U6MTpiRnVM,2026-01-22 19:25:48.869891+00:00,2026-01-22 19:25:48.869891+00:00,None
1,RGF0YXNldDozMjkwMjE6ZzlDdg==,kiko-test-dataset_20260121173347,U3BhY2U6MTpiRnVM,2026-01-22 01:33:47.605315+00:00,2026-01-22 01:33:47.605315+00:00,None
2,RGF0YXNldDozMjU0MDY6b3VqUA==,Amazon Reviews Numeric,U3BhY2U6MTpiRnVM,2025-11-20 19:09:18.730220+00:00,2025-11-20 19:09:18.730220+00:00,None
3,RGF0YXNldDozMjU0MDM6eFRtSQ==,amazon reviews,U3BhY2U6MTpiRnVM,2025-11-20 18:21:12.621016+00:00,2025-11-20 18:24:13.767831+00:00,None
4,RGF0YXNldDozMjUzMjQ6UFk1eg==,Fraud Detection Synthetic Dataset,U3BhY2U6MTpiRnVM,2025-11-19 23:50:54.685108+00:00,2025-11-19 23:50:54.685108+00:00,None
5,RGF0YXNldDozMjUzMTU6NmRiZQ==,general prompt playground dataset,U3BhY2U6MTpiRnVM,2025-11-19 22:45:57.479861+00:00,2025-11-19 22:45:57.479861+00:00,None
6,RGF0YXNldDozMTc3MDk6MFpWbQ==,parker_ds_evals,U3BhY2U6MTpiRnVM,2025-10-08 03:24:38.014847+00:00,2025-10-08 03:24:38.014847+00:00,None
7,RGF0YXNldDozMDI5OTc6WmdyQg==,parker column mapping,U3BhY2U6MTpiRnVM,2025-08-11 19:23:19.377871+00:00,2025-08-11 19:23:19.377871+00:00,None
8,RGF0YXNldDozMDIyODk6UHgvKw==,nate's updated dataset,U3BhY2U6MTpiRnVM,2025-07-30 03:30:42.013949+00:00,2025-07-30 03:30:42.013949+00:00,None
9,RGF0YXNldDozMDIyODg6TlhKcw==,nate's jokes,U3BhY2U6MTpiRnVM,2025-07-30 00:35:47.885152+00:00,2025-07-30 00:35:47.885152+00:00,None
10,RGF0YXNldDozMDIyNDQ6dzcyaQ==,Kiko test,U3BhY2U6MTpiRnVM,2025-07-29 00:25:24.627279+00:00,2025-07-29 00:25:24.627279+00:00,None
11,RGF0YXNldDozMDIxMDk6S3Y1YQ==,caca,U3BhY2U6MTpiRnVM,2025-07-24 22:47:19.623396+00:00,2025-07-24 22:47:19.623396+00:00,None
12,RGF0YXNldDoyOTczNjc6d1I1QQ==,parker 10k,U3BhY2U6MTpiRnVM,2025-07-08 01:05:20.411415+00:00,2025-07-08 01:05:20.411415+00:00,None
13,RGF0YXNldDozNTIwNjpKMG1k,parker ds,U3BhY2U6MTpiRnVM,2025-05-13 22:12:42.398933+00:00,2025-05-13 22:12:42.398933+00:00,None
14,RGF0YXNldDo5NDc4Ojg1VHg=,my dataset,U3BhY2U6MTpiRnVM,2025-02-15 03:02:17.777405+00:00,2025-02-15 03:02:17.777405+00:00,None
15,RGF0YXNldDozNDA0OmkvUEg=,test-dataset-timestamp,U3BhY2U6MTpiRnVM,2025-01-13 23:40:27.553262+00:00,2025-01-13 23:40:27.553262+00:00,None
16,RGF0YXNldDozNDAwOlFpczk=,david-test-dbx-1,U3BhY2U6MTpiRnVM,2025-01-13 20:58:12.778332+00:00,2025-01-13 20:58:12.778332+00:00,None
17,RGF0YXNldDo5Njk6S1FHSQ==,test-nd-3,U3BhY2U6MTpiRnVM,2024-10-09 00:43:12.259180+00:00,2024-10-09 00:43:12.259180+00:00,None
18,RGF0YXNldDo5Njg6WHVoUA==,test-nd-2,U3BhY2U6MTpiRnVM,2024-10-09 00:42:34.465170+00:00,2024-10-09 00:42:34.465170+00:00,None
19,RGF0YXNldDo5Njc6QmdCag==,test-nd-1,U3BhY2U6MTpiRnVM,2024-10-09 00:42:10.598827+00:00,2024-10-09 00:42:10.598827+00:00,None
20,RGF0YXNldDo5NjY6ZDZpSg==,test1,U3BhY2U6MTpiRnVM,2024-10-08 21:50:12.865285+00:00,2024-10-08 21:50:12.865285+00:00,None
21,RGF0YXNldDo0MzY6bTJNOA==,david-test-exp-2,U3BhY2U6MTpiRnVM,2024-08-13 21:55:08.467171+00:00,2024-08-13 21:55:08.467171+00:00,None
22,RGF0YXNldDo0MzU6TExBTw==,david-test-expe5dc9,U3BhY2U6MTpiRnVM,2024-08-13 21:43:42.734799+00:00,2024-08-13 21:43:42.734799+00:00,None
23,RGF0YXNldDozMDk6cHVvTg==,nick-test-1,U3BhY2U6MTpiRnVM,2024-07-30 21:05:11.782850+00:00,2024-07-30 21:05:11.782850+00:00,None
24,RGF0YXNldDoyNTM6Zm1mVQ==,nader-empty,U3BhY2U6MTpiRnVM,2024-07-25 17:18:01.541131+00:00,2024-07-25 17:18:01.541131+00:00,None
25,RGF0YXNldDoyMjY6ZVFvWg==,nate,U3BhY2U6MTpiRnVM,2024-07-24 07:40:29.264002+00:00,2024-07-24 07:40:29.264002+00:00,None
26,RGF0YXNldDoxMzM6aWpVYQ==,nader-ex,U3BhY2U6MTpiRnVM,2024-07-16 20:40:25.776408+00:00,2024-07-16 20:40:25.776408+00:00,None
27,RGF0YXNldDoxMjI6UkE1SQ==,david-test-7,U3BhY2U6MTpiRnVM,2024-07-15 17:56:45.402466+00:00,2024-07-15 17:56:45.402466+00:00,None
28,RGF0YXNldDoxMTY6SWYrUw==,david-test-6,U3BhY2U6MTpiRnVM,2024-07-12 21:36:27.864292+00:00,2024-07-12 21:36:27.864292+00:00,None
29,RGF0YXNldDoxMDA6VEdJUA==,david-test-5,U3BhY2U6MTpiRnVM,2024-07-11 06:01:59.231210+00:00,2024-07-11 06:01:59.231210+00:00,None
30,RGF0YXNldDo5OTpXemw5,david-test-4,U3BhY2U6MTpiRnVM,2024-07-11 05:39:52.069926+00:00,2024-07-11 05:39:52.069926+00:00,None
31,RGF0YXNldDo5ODoyYi9R,david-test-3,U3BhY2U6MTpiRnVM,2024-07-11 05:10:34.612203+00:00,2024-07-11 05:10:34.612203+00:00,None
32,RGF0YXNldDo5NzpsYjh2,david-test-2,U3BhY2U6MTpiRnVM,2024-07-11 05:07:19.950226+00:00,2024-07-11 05:07:19.950226+00:00,None
33,RGF0YXNldDo0NjpaU0xl,nader-test2,U3BhY2U6MTpiRnVM,2024-07-09 00:52:08.271595+00:00,2024-07-09 00:52:08.271595+00:00,None

# Create Dataset

In [11]:
def get_test_examples():
    return [
        {
            "eval.Correctness Basic.explanation": "The query indicates that the user is having trouble accessing their account on their laptop, while access on their phone is still working. This suggests a potential issue with the login process on the laptop, which aligns with the 'Login Issues' queue. The mention of a possible change in the account could relate to login credentials or settings affecting the laptop specifically, but it still falls under the broader category of login issues.",
            "eval.Correctness Basic.label": "correct",
            "eval.Correctness Basic.score": 1,
            "llm output": "Login Issues",
            "query": "I can't get in on my laptop anymore, but my phone still works fine — could this be because I changed something in my account?",
        },
        {
            "eval.Correctness Basic.explanation": "The query is about a user who signed up but is unable to log in because the system says no account is found. This issue is related to the login process, as the user is trying to access their account and is facing a problem with the login system recognizing their account. Therefore, assigning this query to the 'Login Issues' queue is appropriate.",
            "eval.Correctness Basic.label": "correct",
            "eval.Correctness Basic.score": 1,
            "llm output": "Login Issues",
            "query": "Signed up ages ago but never got around to logging in — now it says no account found. Do I start over?",
        },
    ]


from datetime import datetime


def append_timestamp(text: str) -> str:
    timestamp = datetime.now().strftime("%Y%m%d%H%M%S")
    return f"{text}_{timestamp}"

In [12]:
resp = client.datasets.create(
    name=append_timestamp("kiko-test-dataset"),
    space_id=SPACE_ID,
    examples=get_test_examples(),
)
resp

  arize.pre_releases | WARNING | [BETA] datasets.create is a beta API in Arize SDK v8.0.0b0 and may change without notice.

Dataset(id='RGF0YXNldDozMjkxNjY6VThEdQ==', name='kiko-test-dataset_20260122125732', space_id='U3BhY2U6MTpiRnVM', created_at=datetime.datetime(2026, 1, 22, 20, 57, 32, 940081, tzinfo=TzInfo(0)), updated_at=datetime.datetime(2026, 1, 22, 20, 57, 32, 940081, tzinfo=TzInfo(0)), versions=[DatasetVersion(id='RGF0YXNldFZlcnNpb246MzMxMTMyOjNnNlY=', name='2026-01-22 20:57:32', dataset_id='RGF0YXNldDozMjkxNjY6VThEdQ==', created_at=datetime.datetime(2026, 1, 22, 20, 57, 32, 941980, tzinfo=TzInfo(0)), updated_at=datetime.datetime(2026, 1, 22, 20, 57, 32, 940081, tzinfo=TzInfo(0)))])

In [13]:
resp.to_dict()

{'id': 'RGF0YXNldDozMjkxNjY6VThEdQ==',
 'name': 'kiko-test-dataset_20260122125732',
 'space_id': 'U3BhY2U6MTpiRnVM',
 'created_at': datetime.datetime(2026, 1, 22, 20, 57, 32, 940081, tzinfo=TzInfo(0)),
 'updated_at': datetime.datetime(2026, 1, 22, 20, 57, 32, 940081, tzinfo=TzInfo(0)),
 'versions': [{'id': 'RGF0YXNldFZlcnNpb246MzMxMTMyOjNnNlY=',
   'name': '2026-01-22 20:57:32',
   'dataset_id': 'RGF0YXNldDozMjkxNjY6VThEdQ==',
   'created_at': datetime.datetime(2026, 1, 22, 20, 57, 32, 941980, tzinfo=TzInfo(0)),
   'updated_at': datetime.datetime(2026, 1, 22, 20, 57, 32, 940081, tzinfo=TzInfo(0))}]}

In [14]:
DATASET_ID = resp.id

# Get Dataset by ID

In [16]:
ds = client.datasets.get(dataset_id=DATASET_ID)
ds

  arize.pre_releases | WARNING | [BETA] datasets.get is a beta API in Arize SDK v8.0.0b0 and may change without notice.

Dataset(id='RGF0YXNldDozMjkxNjY6VThEdQ==', name='kiko-test-dataset_20260122125732', space_id='U3BhY2U6MTpiRnVM', created_at=datetime.datetime(2026, 1, 22, 20, 57, 32, 940081, tzinfo=TzInfo(0)), updated_at=datetime.datetime(2026, 1, 22, 20, 57, 32, 940081, tzinfo=TzInfo(0)), versions=[DatasetVersion(id='RGF0YXNldFZlcnNpb246MzMxMTMyOjNnNlY=', name='2026-01-22 20:57:32', dataset_id='RGF0YXNldDozMjkxNjY6VThEdQ==', created_at=datetime.datetime(2026, 1, 22, 20, 57, 32, 941980, tzinfo=TzInfo(0)), updated_at=datetime.datetime(2026, 1, 22, 20, 57, 32, 940081, tzinfo=TzInfo(0)))])

## Convert to dictionery

In [17]:
ds.to_dict()

{'id': 'RGF0YXNldDozMjkxNjY6VThEdQ==',
 'name': 'kiko-test-dataset_20260122125732',
 'space_id': 'U3BhY2U6MTpiRnVM',
 'created_at': datetime.datetime(2026, 1, 22, 20, 57, 32, 940081, tzinfo=TzInfo(0)),
 'updated_at': datetime.datetime(2026, 1, 22, 20, 57, 32, 940081, tzinfo=TzInfo(0)),
 'versions': [{'id': 'RGF0YXNldFZlcnNpb246MzMxMTMyOjNnNlY=',
   'name': '2026-01-22 20:57:32',
   'dataset_id': 'RGF0YXNldDozMjkxNjY6VThEdQ==',
   'created_at': datetime.datetime(2026, 1, 22, 20, 57, 32, 941980, tzinfo=TzInfo(0)),
   'updated_at': datetime.datetime(2026, 1, 22, 20, 57, 32, 940081, tzinfo=TzInfo(0))}]}

# List Dataset Examples

In [18]:
ds_examples = client.datasets.list_examples(dataset_id=DATASET_ID, limit=5)

  arize.pre_releases | WARNING | [BETA] datasets.list_examples is a beta API in Arize SDK v8.0.0b0 and may change without notice.

In [19]:
ds_examples.to_df()

,id,created_at,updated_at,additional_properties
0,9a010966-ccb5-40f6-a5e7-5077741f0d6b,2026-01-22 20:57:32+00:00,2026-01-22 20:57:32+00:00,{'eval.Correctness Basic.explanation': 'The qu...
1,504a9c59-d389-4ae3-9ee6-0a2e29e2059d,2026-01-22 20:57:32+00:00,2026-01-22 20:57:32+00:00,{'eval.Correctness Basic.explanation': 'The qu...

In [20]:
ds_examples.examples

[DatasetExample(id='9a010966-ccb5-40f6-a5e7-5077741f0d6b', created_at=datetime.datetime(2026, 1, 22, 20, 57, 32, tzinfo=TzInfo(0)), updated_at=datetime.datetime(2026, 1, 22, 20, 57, 32, tzinfo=TzInfo(0)), additional_properties={'eval.Correctness Basic.explanation': "The query indicates that the user is having trouble accessing their account on their laptop, while access on their phone is still working. This suggests a potential issue with the login process on the laptop, which aligns with the 'Login Issues' queue. The mention of a possible change in the account could relate to login credentials or settings affecting the laptop specifically, but it still falls under the broader category of login issues.", 'eval.Correctness Basic.label': 'correct', 'eval.Correctness Basic.score': 1, 'llm output': 'Login Issues', 'query': "I can't get in on my laptop anymore, but my phone still works fine — could this be because I changed something in my account?"}),
 DatasetExample(id='504a9c59-d389-4ae3-9ee6-0a2e29e2059d', created_at=datetime.datetime(2026, 1, 22, 20, 57, 32, tzinfo=TzInfo(0)), updated_at=datetime.datetime(2026, 1, 22, 20, 57, 32, tzinfo=TzInfo(0)), additional_properties={'eval.Correctness Basic.explanation': "The query is about a user who signed up but is unable to log in because the system says no account is found. This issue is related to the login process, as the user is trying to access their account and is facing a problem with the login system recognizing their account. Therefore, assigning this query to the 'Login Issues' queue is appropriate.", 'eval.Correctness Basic.label': 'correct', 'eval.Correctness Basic.score': 1, 'llm output': 'Login Issues', 'query': 'Signed up ages ago but never got around to logging in — now it says no account found. Do I start over?'})]

In [21]:
ds_examples = client.datasets.list_examples(dataset_id=DATASET_ID, all=True)

  arize.utils.cache | DEBUG | Cached resource to /Users/kikocastillo/.arize/cache/dataset/dataset_RGF0YXNldDozMjkxNjY6VThEdQ==_20260122T205732.parquet

In [22]:
ds_examples.to_df()

,id,created_at,updated_at,additional_properties
0,9a010966-ccb5-40f6-a5e7-5077741f0d6b,2026-01-22 20:57:32.939000+00:00,2026-01-22 20:57:32.939000+00:00,{}
1,504a9c59-d389-4ae3-9ee6-0a2e29e2059d,2026-01-22 20:57:32.939000+00:00,2026-01-22 20:57:32.939000+00:00,{}

In [23]:
client.datasets.list?

Signature:
client.datasets.list(
    *,
    space_id: 'str | None' = None,
    limit: 'int' = 100,
    cursor: 'str | None' = None,
) -> 'models.DatasetsList200Response'
Docstring:
List datasets the user has access to.

Datasets are returned in descending creation order (most recently created
first). Dataset versions are not included in this response; use `get()` to
retrieve a dataset along with its versions.

Args:
    space_id: Optional space ID to scope results to a single space.
    limit: Maximum number of datasets to return. The server enforces an
        upper bound.
    cursor: Opaque pagination cursor returned from a previous response.

Returns:
    A response object with the datasets and pagination information.

Raises:
    arize._generated.api_client.exceptions.ApiException: If the REST API
        returns an error response (e.g. 401/403/429).
File:      ~/Documents/Arize/arize/sdk/python/loggerv8/src/arize/datasets/client.py
Type:      method

In [ ]:
# ds_examples.to_dict()

In [ ]:
# ds_examples.to_df(exclude_none=True)
# ds_examples.to_df(exclude_none='any')
# ds_examples.to_df(exclude_none='all')

# Update a dataset

TBD (when Roger finishes his PR next week)

# Delete Dataset By ID

In [24]:
ds_list_resp = client.datasets.list(space_id=SPACE_ID, limit=5)
ds_list_resp.to_df()

,id,name,space_id,created_at,updated_at,versions
0,RGF0YXNldDozMjkxNjY6VThEdQ==,kiko-test-dataset_20260122125732,U3BhY2U6MTpiRnVM,2026-01-22 20:57:32.940081+00:00,2026-01-22 20:57:32.940081+00:00,None
1,RGF0YXNldDozMjkxNDc6OTk3Yw==,kiko-test-dataset_20260122112548,U3BhY2U6MTpiRnVM,2026-01-22 19:25:48.869891+00:00,2026-01-22 19:25:48.869891+00:00,None
2,RGF0YXNldDozMjkwMjE6ZzlDdg==,kiko-test-dataset_20260121173347,U3BhY2U6MTpiRnVM,2026-01-22 01:33:47.605315+00:00,2026-01-22 01:33:47.605315+00:00,None
3,RGF0YXNldDozMjU0MDY6b3VqUA==,Amazon Reviews Numeric,U3BhY2U6MTpiRnVM,2025-11-20 19:09:18.730220+00:00,2025-11-20 19:09:18.730220+00:00,None
4,RGF0YXNldDozMjU0MDM6eFRtSQ==,amazon reviews,U3BhY2U6MTpiRnVM,2025-11-20 18:21:12.621016+00:00,2025-11-20 18:24:13.767831+00:00,None

In [27]:
DATASET_ID

'RGF0YXNldDozMjkxNjY6VThEdQ=='

In [25]:
resp = client.datasets.delete(dataset_id=DATASET_ID)
resp

  arize.pre_releases | WARNING | [BETA] datasets.delete is a beta API in Arize SDK v8.0.0b0 and may change without notice.

In [26]:
ds_list_resp = client.datasets.list(space_id=SPACE_ID, limit=5)
ds_list_resp.to_df()

,id,name,space_id,created_at,updated_at,versions
0,RGF0YXNldDozMjkxNDc6OTk3Yw==,kiko-test-dataset_20260122112548,U3BhY2U6MTpiRnVM,2026-01-22 19:25:48.869891+00:00,2026-01-22 19:25:48.869891+00:00,None
1,RGF0YXNldDozMjkwMjE6ZzlDdg==,kiko-test-dataset_20260121173347,U3BhY2U6MTpiRnVM,2026-01-22 01:33:47.605315+00:00,2026-01-22 01:33:47.605315+00:00,None
2,RGF0YXNldDozMjU0MDY6b3VqUA==,Amazon Reviews Numeric,U3BhY2U6MTpiRnVM,2025-11-20 19:09:18.730220+00:00,2025-11-20 19:09:18.730220+00:00,None
3,RGF0YXNldDozMjU0MDM6eFRtSQ==,amazon reviews,U3BhY2U6MTpiRnVM,2025-11-20 18:21:12.621016+00:00,2025-11-20 18:24:13.767831+00:00,None
4,RGF0YXNldDozMjUzMjQ6UFk1eg==,Fraud Detection Synthetic Dataset,U3BhY2U6MTpiRnVM,2025-11-19 23:50:54.685108+00:00,2025-11-19 23:50:54.685108+00:00,None